.navigation {
    visibility: hidden;
    font-size: 1.3em;
    max-width: 100%;
    background-color: #0060B0;
    color: white;
  }
  
  .logo {
    margin-left: 15px;
  }
  
  .navbar-nav {
    width: 100%;
  }
  
  #nav-links {
    color: white;
    padding: 15px;
    margin-left: 10px;
    line-height: 3.8;
  }
  
  .dropdown-box {
    margin-left: 40px;
  }
  
  #nav-item-links {
    color: #0060B0;
  }
  
  
    @media only screen and (min-width: 499px) {
      .navigation {
          
          visibility: visible;
      }
  
    }